{% extends "index.html" %}
{% load user_extras %}
{% block content %}
    <div class="mainDiv">
        <h2>User '{{ object.username }}' details:</h2>
        <div class="tableDiv">
            <table class="table">
                <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Birthday</th>
                    <th>Status</th>
                    <th>Random</th>
                    <th>BizzFuzz</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.username }}</td>
                    <td>{{ object.birthday }}</td>
                    <td>{{ object.birthday|user_status }}</td>
                    <td>{{ object.random }}</td>
                    <td class="buzzFizzColumn">{{ object.random|buzz_fizz_tag }}</td>
                    <td>
                        <a href="{% url 'user-update' pk=object.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'user-delete' pk=object.pk %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

