{% extends "index.html" %}

{% block content %}
    <div class="mainDiv">
        <h2>Create new user:</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
{% endblock %}
