{% extends "index.html" %}
{% load user_extras %}
{% block content %}
    <div class="mainDiv">
        <div class="downloadCSV">
            <a class="btn btn-success" href="{% url 'users-csv' %}" target="_blank">Download CSV</a>
            <h2>Users:</h2>
        </div>
        <div class="tableDiv">
            <table class="table">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Birthday</th>
                    <th>Status</th>
                    <th>Random</th>
                    <th>BizzFuzz</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr >
                    <td>{{ object.username }}</td>
                    <td>{{ object.birthday }}</td>
                    <td>{{ object.birthday|user_status }}</td>
                    <td>{{ object.random }}</td>
                    <td class="buzzFizzColumn">{{ object.random|buzz_fizz_tag }}</td>
                    <td >
                        <a href="{% url 'user-detail' pk=object.pk %}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                    <td class="iconRow">
                        <a href="{% url 'user-update' pk=object.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'user-delete' pk=object.pk %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <p>No Users yet.</p>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
