{% extends "index.html" %}

{% block content %}
    <div class="container">
        <h3 align="center">Django Exercise:</h3>
        <p align="center">Sample User application by Michał Ziółecki</p>
    </div>
{% endblock %}
