{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <title>User App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Django-Task</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                    href="/list/">Users<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'user-list' %}">List</a></li>
                    <li><a href="{% url 'user-create' %}">Create</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


{% block content %}
{% endblock %}

</body>
</html>
